.stream .streams-wrapper .stream-container .chat-container {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent !important;

  * {
    background: transparent !important;
  }

  .chat-messages {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    position: relative !important;

    .chat-message {
      position: absolute !important;
      bottom: 0;
      font-size: 30px;

      animation-name: emoji-fly;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-timing-function: ease-in;
    }
  }

  .chat-emoji-buttons {
    z-index: 10000;
    position: absolute !important;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 10px;
    min-width: 100px;
    height: 60px;
    display: flex;
    flex-direction: row;

    .emoji-button-container {
      width: 33%;
      text-align: center;
    }

    .emoji-button {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 10px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      user-select: none;
      cursor: pointer;
      font-size: 2em;
      background-color: transparent !important;
      transition: 0.2s all;

      &:hover {
        transition: 0.2s all;
        opacity: 0.5;
      }
    }
  }
}

@keyframes emoji-fly {
  0% {
    bottom: 0;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    bottom: 90%;
    opacity: 0;
  }
}