.stream {
  min-height: 100vh;
  background-color: #131519;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titles > .location {
    font-family: 'Sailec Bold';
    font-size: 2em;
    color:#ff4242;
  }

  .titles > .time {
    font-family: 'Sailec';
    margin-bottom: 15px;
    color: #fff;
    font-size: 1em;
    span {
      // font-family: 'Sailec Bold';
      // color: #ff4242;
    }
  }


  .header > h1 {
    font-size: 3em;
    font-family: 'Sailec Bold';
  }
  .header > hr {
    border: 2px solid white;
    width: 125px;
    margin-top: 17.5px;
  }

  .header {
    margin-bottom: 20px;
  }

  .streams-wrapper {
    display: flex;

    * {
      background: #131519 !important;
      position: initial !important;
    }
  }

  #stream {
    margin-bottom: 25px;
    border-radius: 5px;
    background: #2A2D32 !important;
    display: flex;
    justify-content: center;
    position: relative !important;
    align-items: center;

    .top-overlay {
      padding: 20px 25px;
      width: auto;
      min-height: 66px;
      background: rgba(19, 21, 25, 0.5) !important;
      position: absolute !important;
      z-index: 100;
      font-family: 'Sailec Bold';
      top: 0;
      left: 0;
      border-radius: 0px 0px 5px 0px;
      font-size: 1em;
      color:white;
    }

    .stream-overlay {
      display: flex;
      align-items: center;
      padding: 10px 25px;
      width: 100%;
      min-height: 66px;
      background: rgba(19, 21, 25, 0.5) !important;
      position: absolute !important;
      z-index: 100;
      font-weight: 'Sailec Hairline';
      bottom: 0;
      font-size: 1em;
    }

    h5 {
      font-family: 'Sailec Bold';
      font-size: 2em;
      padding: 25px;
      // display: none;
      background: none !important;
    }
  }

  .resize-sensor {
    display: none;
  }

  video {
    border-radius: 5px;
    height: auto !important;
  }
  
  .chat {
    // background: #2A2D32 !important;
    border-radius: 5px;
    height: 450px;
  }

  .button {
    width: auto;
    border: 0px;
    text-transform: none;
    border-radius: 25px;
    font-size: 1em;
    font-weight: normal;
    transition: 0.2s all;
    * {  
      background: #ff4242 !important;
      color: white;
    }
    &:hover {
      transition: 0.2s all;
      opacity: 0.5;
      color: white;
      cursor: pointer;
    }
    background: #ff4242 !important;
    color: white;
  }
  .back {
    background: white !important;
    color: #ff4242;
    margin-right: 15px;

    &:hover {
      transition: 0.2s all;
      opacity: 0.5;
      color: #ff4242;
      cursor: pointer;
    }
    * {  
      background: white !important;
      color: #ff4242;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #5A5B5E;
    }
  }
}