.stream {
  min-height: 100vh;
  background-color: #131519;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .titles > .location {
    font-family: 'Sailec Bold';
    font-size: 2em;
  }

  .titles > .time {
    font-family: 'Sailec Bold';
    margin-bottom: 15px;
    color: #ff4242;
    font-size: 1.5em;
  }

  .streams-wrapper {
    display: flex;

    * {
      background: #131519 !important;
      position: initial !important;
    }
  }
  .button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
  }

  .resize-sensor {
    display: none;
  }

  video {
    border-radius: 5px;
    height: auto !important;
  }
  
  .chat {
    background: #2A2D32 !important;
    border-radius: 5px;
    height: 450px;
    position: relative !important;

    * {
      background-color: transparent !important;
      margin: 0;
    }

    > div {
      position: absolute !important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .button {
    width: auto;
    border: 0px;
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
    * {  
      background: #ff4242 !important;
      color: white;
    }
    background: #ff4242 !important;
    color: white;
  }
}
